.fixed{
    background-color: red;
    padding: 20px;
    position: fixed;
    text-align: center;
    margin-left: 0;
}
.sticky{
    background-color: orange;
    padding: 10px;
    position: sticky;
    top: 0px;
    text-align: center;
    
}