.box{
    border: 2px solid rebeccapurple;
    margin-bottom: 25px;
    width: 25rem;
    height: 5rem;
}

.box1{
    overflow: visible;
    background-color: royalblue;
}

.box2{
    background-color: chartreuse;
    overflow: hidden;
}

.box3{
    background-color: yellow;
    overflow: scroll
    ;
}

.box4{
    background-color: red;
    overflow: auto;
}